
li.fight {
    background-color: white;
    color: var(--clr-charcoal);
    box-shadow: var(--bs-lg);
    width: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
    margin-bottom: .2rem;
}

img.fight-list-img {
    height: 64px;
    z-index: 1;
    margin-right: 0rem;
    min-width: 10rem;
    text-align: center;
}

img.fight-list-img.left {
    margin-left: -1.5rem;
}

img.fight-list-img.right {
    margin-right: -2rem;
}

.fight-list-name {
    line-height: 1.6rem;
    z-index: 2;
    font-weight: 700;
    color: #5f5e5e;
    text-align: center;
    font-size: 1.4rem;
    margin-top: .7rem;
    max-width: 8.6rem;
}

.fight-list-img-containor {
    
}

.fighter {
    width: 50%;
}

.fight-list-flag {
    /* position: absolute; */
    /* top: -0.25rem; */
    /* left: 0rem; */
    width: 2.5rem;
    z-index: 0;
    opacity: .75;
}

.fight-tracker {
    position: absolute;
    font-weight: bold;
    color: var(--clr-gray-dark);
    opacity: .95;
    font-size: 1.2rem;
}

.event-list-manager{
    height: 5rem;
    transition: height .2s;
    font-size: 1.35rem;
    color: var(--clr-charcoal);
    background-color: white;
    padding: .5rem 0 .5rem .35rem;
    font-weight: bold;
}

.fight-header {
    height: 5rem;
    transition: height .2s;
    font-size: 1.35rem;
    color: var(--clr-charcoal);
    background-color: white;
    padding: .5rem 0 .5rem 0;
    font-weight: bold;
}

.event-list-manager.active {
    height: 10rem;
}

.event-list-manager.active svg {
    fill: var(--clr-red) !important;
    rotate: 45deg;
}

.fight-odds {
    background-color: white;
    color: var(--clr-charcoal);
    /* padding: .5rem .75rem; */
    /* box-shadow: var(--bs-sm); */
    font-size: var(--fs-300);
    padding: 2.5rem 0px;
    height: 6.5rem;
}
.event-info {
    background-color: white;
    color: var(--clr-charcoal);
    padding: .5rem .75rem;
    /* box-shadow: var(--bs-sm); */
    font-size: var(--fs-300);
    height: 5.75rem;
    white-space: nowrap;
    font-size: 1.35rem;
}

ul.event-fight-list {
    height: 80vh;
    overflow-y: scroll;
    /* font-size: 1.35rem; */
}

.event-fight-list-divider {
    font-size: 1.3rem;
    padding: .75rem .5rem .5rem .5rem;
    line-height: 1.25rem;
}

/* View UFC Fight*/

.fight-odds {border-bottom: .2rem solid white !important;}

.fight-odds-item {
    padding: .75rem 0.5rem;
    width: 20%;
    border: .2rem solid transparent;
}

.fight-odds-item.active {
    font-weight: 700;
    color: var(--clr-blue);
    box-shadow: var(--bs-sm);
    border-radius: 0.1rem;
    clip-path: polygon(0 0, 110% 0, 110% calc(100% - 1px), 0 calc(100% - 1px));
}

.fight-odds > .fight-odds-item:not(:last-child) {
    /* Your styles here */
    border-right: 1px solid #d0d0d07a;
}

.fight-odds-item:not(.active) {
    /* Your styles here */
    border-bottom: 1px solid #d0d0d0;
}

.fight-odds-chart-containor {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 0rem .5rem .5rem .5rem;
}

.fight-odds-chart-containor.active {
    display: block !important;
    z-index: 10;
    /* border: .2rem solid #393939c9; */
    box-shadow: var(--bs-lg);
    clip-path: polygon(0 0, 110% 0, 110% calc(100% - 1px), 0 calc(100% - 1px));
}

.fighter-details {
    position: relative;
    width: 100%;
    background-color: var(--clr-white);
}

.fighter-heroshot-containor {width: 33%;/* padding: 0 1rem; */}

.fighter-heroshot {
    height: 29rem;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.fighter-attributes {width: 34%;padding: 1rem .5rem;/* border: var(--br-primary); */font-size: 1.45rem;/* box-shadow: var(--bs-lg); */}

.fighter-attributes h3 {
    font-weight: bold;
}

.fighter-1-attributes {

}

.fighter-2-attributes {

}

.fighter-name {
    font-size: 1.3rem;
    line-height: 1rem;
}

.fight-analysis {
    background-color: white;
    height: 32rem;
    margin: 0.5rem 0 0 0;
    box-shadow: var(--bs-lg);
    padding: 0rem 1rem;
    /* border-radius: var(--br-radius); */
}

.fight-analysis-list {
    /* height: 100%; */
    overflow-y: scroll;
}

.fight-analysis-list > li {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #d0d0d0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    /* position: relative; */
}

.fight-analysis-list > li >h3 {
    font-weight: bold;
    line-height: 1.4rem;
}

.module-containor {
    overflow: hidden;
    height: 0;
    position: absolute;
    transition: .1s all ease;
    top: 40%;
    width: 100%;
    bottom: 40%;
    left: 0;
}

.module-containor.active {
    background-color: var(--clr-gray-dark);
    top: 20%;
    z-index: 11;
    color: white;
    padding: 2rem;
    bottom: 20%;
    height: auto;
}

.module-containor.active + div > svg {
    fill: var(--clr-red) !important;
    rotate: 45deg;
    z-index: 12;
}

li.active > div.action-button{
    z-index: 12;
    background-color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* padding: 1rem; */
    border-radius: 50%;
    box-shadow: var(--bs-lg);
}

.fight-list-end {
    padding: 2rem 2rem 5rem 2rem;
    text-align: center;
}


/* UFC_FIGHTER view */
img.fighter-img {
    padding: 2rem;
    width: 16rem;
}

.fighter-flag-containor {
    width: 20rem;
}

.fighter-flag {
    opacity: 1;
    height: 6rem;
}

.fighter-containor{
    width: 50%;
}

.fighter-containor:not(.active) {
    background-color: rgb(235, 235, 235);
    clip-path: polygon(0 0px, 110% 0px, 110% calc(100% - 1px), 0 calc(100% - 1px));
}

.carocel {
    position: relative;
    perspective: 1000px;
}

.carocel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 1s, opacity 1s;
}

.fighter-resource-items{
    background-color: white;
    color: var(--clr-charcoal);
    /* box-shadow: var(--bs-sm); */
    font-size: var(--fs-300);
    padding: 2.5rem 0px;
    height: 6rem;
    text-align: center;
}

.fighter-resource-items > div{
	width:20%;
}

.fighter-info {
    font-size: 1.2rem;
}
