
li.fight {
    background-color: white;
    color: #585b63;
    padding: 0rem .25rem;
    box-shadow: var(--bs-lg);
    margin: 0.25rem;
    /* clip-path: inset(0.25% -4.75% -9.75% -16.75%); */
    /* z-index: 10; */
}

img.fight-list-img {
    height: 43px;
}

.fight-list-name {
    margin: .5rem 0;
}